 {% load static %}
  <div class="col-sm-6 col-xs-12 left-footer-section">
       <ul>
          <li>Contact Us</li>
          <li>Privacy</li>  
        </ul>
      </div>
      <div class="col-sm-6 col-xs-12 right-footer-section">
        <ul>
          <li><img src="{% static 'images/product/Facebook.png' %}"></li>
          <li><img src="{% static 'images/product/Instagram.png' %}"></li>
          <li><img src="{% static 'images/product/Pinterest.png' %}"></li>
          <li><img src="{% static 'images/product/Twitter.png' %}"></li>
        </ul>
      </div> 
