{% extends 'base.html' %}
{% load static %}
{% block content %}
 <section class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 col-xs-12">
          <div class="main">
           <div class=" column main-top-section-product">
            <div class="col-md-4 col-xs-12 ">
              <div class="main-product-sec wow zoomIn animated">
                <div class="main_sub_product">
                  <a href="product-one.html">
                    <div class="image-section">
                      <img src="{% static 'images/product/1.jpg' %}">
                      <div class="hover-image">
                        <img src="{% static 'images/product/icon.png' %}">
                      </div>
                    </div>
                  </a>
                  <div class="main-title-paymnt-heading">
                  <a href="product-one.html">
                    <h2>title</h2>
                  </a>
                  <h3>600$</h3>
              </div>
                  <div class="payment-sub-section">
                    <div class="payment-sub-section-one">
                      <h2>Deposit <span class="money-deposit">10$</span></h2>
                    </div>
                    <div class="payment-sub-section-two">
                      <a href="#">Pay Now</a>    
                    </div>
                  </div>
                  <div class="payment-sub-days">
                    <div class="payment-day-one">
                      <h2>2 days left</h2>
                    </div>
                    <div class="payment-day-two">
                      <h2>10 person already purchased</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="main-product-sec wow zoomIn animated">
                <div class="main_sub_product">
                  <a href="product-two.html">
                    <div class="image-section">
                      <img src="{% static 'images/product/4.jpg' %}">
                      <div class="hover-image">
                        <img src="{% static 'images/product/icon.png' %}">
                      </div>
                    </div>
                  </a>
                   <div class="main-title-paymnt-heading">
                  <a href="product-two.html">
                    <h2>title</h2>
                  </a>
                  <h3>600$</h3>
              </div>
                  <div class="payment-sub-section">
                    <div class="payment-sub-section-one">
                      <h2>Deposit <span class="money-deposit">10$</span></h2>
                    </div>
                    <div class="payment-sub-section-two">
                      <a href="#">Pay Now</a>    
                    </div>
                  </div>
                  <div class="payment-sub-days">
                    <div class="payment-day-one">
                      <h2>2 days left</h2>
                    </div>
                    <div class="payment-day-two">
                      <h2>10 person already purchased</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="main-product-sec wow zoomIn animated">
                <div class="main_sub_product">
                  <a href="product-three.html">
                    <div class="image-section">
                      <img src="{% static 'images/product/3.jpg' %}">
                      <div class="hover-image">
                        <img src="{% static 'images/product/icon.png' %}">
                      </div>
                    </div>
                  </a>
                   <div class="main-title-paymnt-heading">
                  <a href="product-three.html">
                    <h2>title</h2>
                  </a>
                  <h3>600$</h3>
              </div>
                  <div class="payment-sub-section">
                    <div class="payment-sub-section-one">
                      <h2>Deposit <span class="money-deposit">10$</span></h2>
                    </div>
                    <div class="payment-sub-section-two">
                      <a href="#">Pay Now</a>    
                    </div>
                  </div>
                  <div class="payment-sub-days">
                    <div class="payment-day-one">
                      <h2>2 days left</h2>
                    </div>
                    <div class="payment-day-two">
                      <h2>10 person already purchased</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- main-top-section-product -->

            <div class="col-md-4 col-xs-12 ">
              <div class="main-product-sec wow zoomIn animated">
                <div class="main_sub_product">
                  <a href="product-four.html">
                    <div class="image-section">
                      <img src="{% static 'images/product/2.jpg' %}">
                      <div class="hover-image">
                        <img src="{% static 'images/product/icon.png' %}">
                      </div>
                    </div>
                </a>
                   <div class="main-title-paymnt-heading">
                  <a href="product-four.html">
                    <h2>title</h2>
                  </a>
                  <h3>600$</h3>
              </div>
                  <div class="payment-sub-section">
                    <div class="payment-sub-section-one">
                      <h2>Deposit <span class="money-deposit">10$</span></h2>
                    </div>
                    <div class="payment-sub-section-two">
                      <a href="#">Pay Now</a>    
                    </div>
                  </div>
                  <div class="payment-sub-days">
                    <div class="payment-day-one">
                      <h2>2 days left</h2>
                    </div>
                    <div class="payment-day-two">
                      <h2>10 person already purchased</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="main-product-sec wow zoomIn animated">
                <div class="main_sub_product">
                  <a href="product-five.html">
                    <div class="image-section">
                      <img src="{% static 'images/product/5.jpg' %}">
                      <div class="hover-image">
                        <img src="{% static 'images/product/icon.png' %}">
                      </div>
                    </div>
                  </a>
                   <div class="main-title-paymnt-heading">
                  <a href="product-five.html">
                    <h2>title</h2>
                  </a>
                  <h3>600$</h3>
              </div>
                  <div class="payment-sub-section">
                    <div class="payment-sub-section-one">
                      <h2>Deposit <span class="money-deposit">10$</span></h2>
                    </div>
                    <div class="payment-sub-section-two">
                      <a href="#">Pay Now</a>    
                    </div>
                  </div>
                  <div class="payment-sub-days">
                    <div class="payment-day-one">
                      <h2>2 days left</h2>
                    </div>
                    <div class="payment-day-two">
                      <h2>10 person already purchased</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="main-product-sec wow zoomIn animated">
                <div class="main_sub_product">
                  <a href="product-six.html">
                    <div class="image-section">
                      <img src="{% static 'images/product/6.jpg' %}">
                      <div class="hover-image">
                        <img src="{% static 'images/product/icon.png' %}">
                      </div>
                    </div>
                </a>
                  <div class="main-title-paymnt-heading">
                  <a href="product-six.html">
                    <h2>title</h2>
                  </a>
                  <h3>600$</h3>
              </div>
                  <div class="payment-sub-section">
                    <div class="payment-sub-section-one">
                      <h2>Deposit <span class="money-deposit">10$</span></h2>
                    </div>
                    <div class="payment-sub-section-two">
                      <a href="#">Pay Now</a>    
                    </div>
                  </div>
                  <div class="payment-sub-days">
                    <div class="payment-day-one">
                      <h2>2 days left</h2>
                    </div>
                    <div class="payment-day-two">
                      <h2>10 person already purchased</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- main-top-section-product -->

            <div class="col-md-4 col-xs-12 ">
              <div class="main-product-sec wow zoomIn animated">
                <div class="main_sub_product">
                  <a href="product-seven.html">
                    <div class="image-section">
                      <img src="{% static 'images/product/7.jpg' %}">
                      <div class="hover-image">
                        <img src="{% static 'images/product/icon.png' %}">
                      </div>
                    </div>
                </a>
                   <div class="main-title-paymnt-heading">
                  <a href="product-seven.html">
                    <h2>title</h2>
                  </a>
                  <h3>600$</h3>
              </div>
                  <div class="payment-sub-section">
                    <div class="payment-sub-section-one">
                      <h2>Deposit <span class="money-deposit">10$</span></h2>
                    </div>
                    <div class="payment-sub-section-two">
                      <a href="#">Pay Now</a>    
                    </div>
                  </div>
                  <div class="payment-sub-days">
                    <div class="payment-day-one">
                      <h2>2 days left</h2>
                    </div>
                    <div class="payment-day-two">
                      <h2>10 person already purchased</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="main-product-sec wow zoomIn animated">
                <div class="main_sub_product">
                  <a href="product-eight.html">
                    <div class="image-section">
                      <img src="{% static 'images/product/8.jpg' %}">
                      <div class="hover-image">
                        <img src="{% static 'images/product/icon.png' %}">
                      </div>
                    </div>
                  </a>
                   <div class="main-title-paymnt-heading">
                  <a href="product-eight.html">
                    <h2>title</h2>
                  </a>
                  <h3>600$</h3>
              </div>
                  <div class="payment-sub-section">
                    <div class="payment-sub-section-one">
                      <h2>Deposit <span class="money-deposit">10$</span></h2>
                    </div>
                    <div class="payment-sub-section-two">
                      <a href="#">Pay Now</a>    
                    </div>
                  </div>
                  <div class="payment-sub-days">
                    <div class="payment-day-one">
                      <h2>2 days left</h2>
                    </div>
                    <div class="payment-day-two">
                      <h2>10 person already purchased</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="main-product-sec wow zoomIn animated">
                <div class="main_sub_product">
                  <a href="product-nine.html">
                    <div class="image-section">
                      <img src="{% static 'images/product/9.jpg' %}">
                      <div class="hover-image">
                        <img src="{% static 'images/product/icon.png' %}">
                      </div>
                    </div>
                  </a>
                  <div class="main-title-paymnt-heading">
                  <a href="product-nine.html">
                    <h2>title</h2>
                  </a>
                  <h3>600$</h3>
              </div>
                  <div class="payment-sub-section">
                    <div class="payment-sub-section-one">
                      <h2>Deposit <span class="money-deposit">10$</span></h2>
                    </div>
                    <div class="payment-sub-section-two">
                      <a href="#">Pay Now</a>    
                    </div>
                  </div>
                  <div class="payment-sub-days">
                    <div class="payment-day-one">
                      <h2>2 days left</h2>
                    </div>
                    <div class="payment-day-two">
                      <h2>10 person already purchased</h2>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <!-- main-top-section-product -->
        </div>
      </div>

     





    </div>
  </div>
</div>
</section>
{% endblock %}